<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>申请开通博客</h3>

<div>
    <p>请填写申请开通博客理由:(不得少于20字)</p>
    <textarea id="application" style="width: 400px;height: 100px"></textarea>
</div>
<button type="submit" id="submit-button">申请</button>
<a href="/">回博客首页</a>

<script src="/static/jquery-3.2.1.js" type="text/javascript"></script>
<script>
    $('#submit-button').click(function () {
        var text = $("#application").val()
        $.ajax({
            url: "/application/",
            type:"POST",
            data:{"application":text,"csrfmiddlewaretoken":"{{ csrf_token }}"},
            dataType:"JSON",
            success:function (res) {
                alert(res.msg);
                if (res.status){
                    window.location.href="/"
                }
            }

        })
    });
</script>
</body>
</html>