<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="/static/css/chouti.css" >
</head>
<body>
    <div class="head-box" >
    <div class="head-content">
        <div class="logo"><a href="#"></a></div>
        <div class="action-menu">
            <a href="#" class="tb active">全部</a>
            <a href="#" class="tb">42区</a>
            <a href="#" class="tb">段子</a>
            <a href="#" class="tb">图片</a>
            <a href="#" class="tb">挨踢1024</a>
            <a href="#" class="tb">你问我答</a>
        </div>
        <div class="action-nav">
            <a href="#">注册</a>
            <a href="#">登录</a>
        </div>
        <div class="key-search">
            <input type="text" class="search-txt">
            <a href="#" class="i"><span></span></a>
        </div>
        
    </div>
</div>

    <div class="main-content-box" id="head">

        <div class="main-content">

            <div class="content-L">

                <div class="top-area">
                    <div class="child-nav">
                        <a href="#" class="active">最新</a>
                        <a href="#" class="hotbtn">最热</a>
                        <a href="#">人类发布</a>
                    </div>
                    <div class="sort-nav">
                        <a href="#" class="active">即时排序</a>
                        <a href="#">24小时</a>
                        <a href="#">3天</a>
                    </div>
                    <a href="" class="publish-btn">
                        <span>+</span>
                        <span>发布</span>
                    </a>

                </div>

                <div class="content-list">
                        <div class="item">
                        <div  class="news-pic">
                            <img src="image/1.jpg" alt="" class="news-pic">
                        </div>
                        <div class="news-content">
                                <div class="part1">
                                    <a href="#" class="show-content">1990年-2020年 各城市地铁生长图（by猫叔Mack ）
                                    </a>
                                </div>
                                <div class="part2">
                                    <a href="" title="推荐" class="digg digg-a"><span class="hand-icon icon-recommend"></span><b>7</b></a>
                                    <a href="" title="评论" class="digg-a"><span class="hand-icon icon-discuss"></span><b>8</b></a>
                                    <a href="" title="私藏"  class="digg-a"><span class="hand-icon icon-collect"></span><b>私藏</b></a>
                                    <a href="" title="名字"  class="digg-a"><span><img src="image/13.png" alt=""></span><b>纸飞机</b></a>
                                    <span><a href="" class="time-into digg-a"> <b class="time">1小时12分前</b><i>入热榜</i></a></span>
                                    <span class="share-site-to">
                                        <i>分享到</i>
                                        <span class="share-icon">
                                                <a href="#" class="icon-sina" title="分享到微博"></a>
                                                <a href="#" class="icon-douban" title="分享到豆瓣"></a>
                                                <a href="#" class="icon-qqzone" title="分享到QQ空间"></a>
                                                <a href="#" class="icon-tenxun" title="分享到腾讯"></a>
                                                <a href="#" class="icon-renren" title="分享到人人"></a>
                                        </span>
                                    </span>
                                </div>
                            </div>
                    </div>

                        <div class="item">
                        <div  class="news-pic">
                            <img src="image/1.jpg" alt="" class="news-pic">
                        </div>
                        <div class="news-content">
                                <div class="part1">
                                    <a href="#" class="show-content">1990年-2020年 各城市地铁生长图（by猫叔Mack ）
                                    </a>
                                </div>
                                <div class="part2">
                                    <a href="" title="推荐" class="digg digg-a"><span class="hand-icon icon-recommend"></span><b>7</b></a>
                                    <a href="" title="评论" class="digg-a"><span class="hand-icon icon-discuss"></span><b>8</b></a>
                                    <a href="" title="私藏"  class="digg-a"><span class="hand-icon icon-collect"></span><b>私藏</b></a>
                                    <a href="" title="名字"  class="digg-a"><span><img src="image/13.png" alt=""></span><b>纸飞机</b></a>
                                    <span><a href="" class="time-into digg-a"> <b class="time">1小时12分前</b><i>入热榜</i></a></span>
                                    <span class="share-site-to">
                                        <i>分享到</i>
                                        <span class="share-icon">
                                                <a href="#" class="icon-sina" title="分享到微博"></a>
                                                <a href="#" class="icon-douban" title="分享到豆瓣"></a>
                                                <a href="#" class="icon-qqzone" title="分享到QQ空间"></a>
                                                <a href="#" class="icon-tenxun" title="分享到腾讯"></a>
                                                <a href="#" class="icon-renren" title="分享到人人"></a>
                                        </span>
                                    </span>
                                </div>
                            </div>
                    </div>

                        <div class="item">
                        <div  class="news-pic">
                            <img src="image/1.jpg" alt="" class="news-pic">
                        </div>
                        <div class="news-content">
                                <div class="part1">
                                    <a href="#" class="show-content">1990年-2020年 各城市地铁生长图（by猫叔Mack ）
                                    </a>
                                </div>
                                <div class="part2">
                                    <a href="" title="推荐" class="digg digg-a"><span class="hand-icon icon-recommend"></span><b>7</b></a>
                                    <a href="" title="评论" class="digg-a"><span class="hand-icon icon-discuss"></span><b>8</b></a>
                                    <a href="" title="私藏"  class="digg-a"><span class="hand-icon icon-collect"></span><b>私藏</b></a>
                                    <a href="" title="名字"  class="digg-a"><span><img src="image/13.png" alt=""></span><b>纸飞机</b></a>
                                    <span><a href="" class="time-into digg-a"> <b class="time">1小时12分前</b><i>入热榜</i></a></span>
                                    <span class="share-site-to">
                                        <i>分享到</i>
                                        <span class="share-icon">
                                                <a href="#" class="icon-sina" title="分享到微博"></a>
                                                <a href="#" class="icon-douban" title="分享到豆瓣"></a>
                                                <a href="#" class="icon-qqzone" title="分享到QQ空间"></a>
                                                <a href="#" class="icon-tenxun" title="分享到腾讯"></a>
                                                <a href="#" class="icon-renren" title="分享到人人"></a>
                                        </span>
                                    </span>
                                </div>
                            </div>
                    </div>

                        <div class="item">
                        <div  class="news-pic">
                            <img src="image/1.jpg" alt="" class="news-pic">
                        </div>
                        <div class="news-content">
                                <div class="part1">
                                    <a href="#" class="show-content">1990年-2020年 各城市地铁生长图（by猫叔Mack ）
                                    </a>
                                </div>
                                <div class="part2">
                                    <a href="" title="推荐" class="digg digg-a"><span class="hand-icon icon-recommend"></span><b>7</b></a>
                                    <a href="" title="评论" class="digg-a"><span class="hand-icon icon-discuss"></span><b>8</b></a>
                                    <a href="" title="私藏"  class="digg-a"><span class="hand-icon icon-collect"></span><b>私藏</b></a>
                                    <a href="" title="名字"  class="digg-a"><span><img src="image/13.png" alt=""></span><b>纸飞机</b></a>
                                    <span><a href="" class="time-into digg-a"> <b class="time">1小时12分前</b><i>入热榜</i></a></span>
                                    <span class="share-site-to">
                                        <i>分享到</i>
                                        <span class="share-icon">
                                                <a href="#" class="icon-sina" title="分享到微博"></a>
                                                <a href="#" class="icon-douban" title="分享到豆瓣"></a>
                                                <a href="#" class="icon-qqzone" title="分享到QQ空间"></a>
                                                <a href="#" class="icon-tenxun" title="分享到腾讯"></a>
                                                <a href="#" class="icon-renren" title="分享到人人"></a>
                                        </span>
                                    </span>
                                </div>
                            </div>
                    </div>

                        <div class="item">
                        <div  class="news-pic">
                            <img src="image/1.jpg" alt="" class="news-pic">
                        </div>
                        <div class="news-content">
                                <div class="part1">
                                    <a href="#" class="show-content">1990年-2020年 各城市地铁生长图（by猫叔Mack ）
                                    </a>
                                </div>
                                <div class="part2">
                                    <a href="" title="推荐" class="digg digg-a"><span class="hand-icon icon-recommend"></span><b>7</b></a>
                                    <a href="" title="评论" class="digg-a"><span class="hand-icon icon-discuss"></span><b>8</b></a>
                                    <a href="" title="私藏"  class="digg-a"><span class="hand-icon icon-collect"></span><b>私藏</b></a>
                                    <a href="" title="名字"  class="digg-a"><span><img src="image/13.png" alt=""></span><b>纸飞机</b></a>
                                    <span><a href="" class="time-into digg-a"> <b class="time">1小时12分前</b><i>入热榜</i></a></span>
                                    <span class="share-site-to">
                                        <i>分享到</i>
                                        <span class="share-icon">
                                                <a href="#" class="icon-sina" title="分享到微博"></a>
                                                <a href="#" class="icon-douban" title="分享到豆瓣"></a>
                                                <a href="#" class="icon-qqzone" title="分享到QQ空间"></a>
                                                <a href="#" class="icon-tenxun" title="分享到腾讯"></a>
                                                <a href="#" class="icon-renren" title="分享到人人"></a>
                                        </span>
                                    </span>
                                </div>
                            </div>
                    </div>

                        <div class="item">
                        <div  class="news-pic">
                            <img src="image/1.jpg" alt="" class="news-pic">
                        </div>
                        <div class="news-content">
                                <div class="part1">
                                    <a href="#" class="show-content">1990年-2020年 各城市地铁生长图（by猫叔Mack ）
                                    </a>
                                </div>
                                <div class="part2">
                                    <a href="" title="推荐" class="digg digg-a"><span class="hand-icon icon-recommend"></span><b>7</b></a>
                                    <a href="" title="评论" class="digg-a"><span class="hand-icon icon-discuss"></span><b>8</b></a>
                                    <a href="" title="私藏"  class="digg-a"><span class="hand-icon icon-collect"></span><b>私藏</b></a>
                                    <a href="" title="名字"  class="digg-a"><span><img src="image/13.png" alt=""></span><b>纸飞机</b></a>
                                    <span><a href="" class="time-into digg-a"> <b class="time">1小时12分前</b><i>入热榜</i></a></span>
                                    <span class="share-site-to">
                                        <i>分享到</i>
                                        <span class="share-icon">
                                                <a href="#" class="icon-sina" title="分享到微博"></a>
                                                <a href="#" class="icon-douban" title="分享到豆瓣"></a>
                                                <a href="#" class="icon-qqzone" title="分享到QQ空间"></a>
                                                <a href="#" class="icon-tenxun" title="分享到腾讯"></a>
                                                <a href="#" class="icon-renren" title="分享到人人"></a>
                                        </span>
                                    </span>
                                </div>
                            </div>
                    </div>

                        <div class="item">
                        <div  class="news-pic">
                            <img src="image/1.jpg" alt="" class="news-pic">
                        </div>
                        <div class="news-content">
                                <div class="part1">
                                    <a href="#" class="show-content">1990年-2020年 各城市地铁生长图（by猫叔Mack ）
                                    </a>
                                </div>
                                <div class="part2">
                                    <a href="" title="推荐" class="digg digg-a"><span class="hand-icon icon-recommend"></span><b>7</b></a>
                                    <a href="" title="评论" class="digg-a"><span class="hand-icon icon-discuss"></span><b>8</b></a>
                                    <a href="" title="私藏"  class="digg-a"><span class="hand-icon icon-collect"></span><b>私藏</b></a>
                                    <a href="" title="名字"  class="digg-a"><span><img src="image/13.png" alt=""></span><b>纸飞机</b></a>
                                    <span><a href="" class="time-into digg-a"> <b class="time">1小时12分前</b><i>入热榜</i></a></span>
                                    <span class="share-site-to">
                                        <i>分享到</i>
                                        <span class="share-icon">
                                                <a href="#" class="icon-sina" title="分享到微博"></a>
                                                <a href="#" class="icon-douban" title="分享到豆瓣"></a>
                                                <a href="#" class="icon-qqzone" title="分享到QQ空间"></a>
                                                <a href="#" class="icon-tenxun" title="分享到腾讯"></a>
                                                <a href="#" class="icon-renren" title="分享到人人"></a>
                                        </span>
                                    </span>
                                </div>
                            </div>
                    </div>

                        <div class="item">
                        <div  class="news-pic">
                            <img src="image/1.jpg" alt="" class="news-pic">
                        </div>
                        <div class="news-content">
                                <div class="part1">
                                    <a href="#" class="show-content">1990年-2020年 各城市地铁生长图（by猫叔Mack ）
                                    </a>
                                </div>
                                <div class="part2">
                                    <a href="" title="推荐" class="digg digg-a"><span class="hand-icon icon-recommend"></span><b>7</b></a>
                                    <a href="" title="评论" class="digg-a"><span class="hand-icon icon-discuss"></span><b>8</b></a>
                                    <a href="" title="私藏"  class="digg-a"><span class="hand-icon icon-collect"></span><b>私藏</b></a>
                                    <a href="" title="名字"  class="digg-a"><span><img src="image/13.png" alt=""></span><b>纸飞机</b></a>
                                    <span><a href="" class="time-into digg-a"> <b class="time">1小时12分前</b><i>入热榜</i></a></span>
                                    <span class="share-site-to">
                                        <i>分享到</i>
                                        <span class="share-icon">
                                                <a href="#" class="icon-sina" title="分享到微博"></a>
                                                <a href="#" class="icon-douban" title="分享到豆瓣"></a>
                                                <a href="#" class="icon-qqzone" title="分享到QQ空间"></a>
                                                <a href="#" class="icon-tenxun" title="分享到腾讯"></a>
                                                <a href="#" class="icon-renren" title="分享到人人"></a>
                                        </span>
                                    </span>
                                </div>
                            </div>
                    </div>

                        <div class="item">
                        <div  class="news-pic">
                            <img src="image/1.jpg" alt="" class="news-pic">
                        </div>
                        <div class="news-content">
                                <div class="part1">
                                    <a href="#" class="show-content">1990年-2020年 各城市地铁生长图（by猫叔Mack ）
                                    </a>
                                </div>
                                <div class="part2">
                                    <a href="" title="推荐" class="digg digg-a"><span class="hand-icon icon-recommend"></span><b>7</b></a>
                                    <a href="" title="评论" class="digg-a"><span class="hand-icon icon-discuss"></span><b>8</b></a>
                                    <a href="" title="私藏"  class="digg-a"><span class="hand-icon icon-collect"></span><b>私藏</b></a>
                                    <a href="" title="名字"  class="digg-a"><span><img src="image/13.png" alt=""></span><b>纸飞机</b></a>
                                    <span><a href="" class="time-into digg-a"> <b class="time">1小时12分前</b><i>入热榜</i></a></span>
                                    <span class="share-site-to">
                                        <i>分享到</i>
                                        <span class="share-icon">
                                                <a href="#" class="icon-sina" title="分享到微博"></a>
                                                <a href="#" class="icon-douban" title="分享到豆瓣"></a>
                                                <a href="#" class="icon-qqzone" title="分享到QQ空间"></a>
                                                <a href="#" class="icon-tenxun" title="分享到腾讯"></a>
                                                <a href="#" class="icon-renren" title="分享到人人"></a>
                                        </span>
                                    </span>
                                </div>
                            </div>
                    </div>

                        <div class="item">
                        <div  class="news-pic">
                            <img src="image/1.jpg" alt="" class="news-pic">
                        </div>
                        <div class="news-content">
                                <div class="part1">
                                    <a href="#" class="show-content">1990年-2020年 各城市地铁生长图（by猫叔Mack ）
                                    </a>
                                </div>
                                <div class="part2">
                                    <a href="" title="推荐" class="digg digg-a"><span class="hand-icon icon-recommend"></span><b>7</b></a>
                                    <a href="" title="评论" class="digg-a"><span class="hand-icon icon-discuss"></span><b>8</b></a>
                                    <a href="" title="私藏"  class="digg-a"><span class="hand-icon icon-collect"></span><b>私藏</b></a>
                                    <a href="" title="名字"  class="digg-a"><span><img src="image/13.png" alt=""></span><b>纸飞机</b></a>
                                    <span><a href="" class="time-into digg-a"> <b class="time">1小时12分前</b><i>入热榜</i></a></span>
                                    <span class="share-site-to">
                                        <i>分享到</i>
                                        <span class="share-icon">
                                                <a href="#" class="icon-sina" title="分享到微博"></a>
                                                <a href="#" class="icon-douban" title="分享到豆瓣"></a>
                                                <a href="#" class="icon-qqzone" title="分享到QQ空间"></a>
                                                <a href="#" class="icon-tenxun" title="分享到腾讯"></a>
                                                <a href="#" class="icon-renren" title="分享到人人"></a>
                                        </span>
                                    </span>
                                </div>
                            </div>
                    </div>

                        <div class="item">
                        <div  class="news-pic">
                            <img src="image/1.jpg" alt="" class="news-pic">
                        </div>
                        <div class="news-content">
                                <div class="part1">
                                    <a href="#" class="show-content">1990年-2020年 各城市地铁生长图（by猫叔Mack ）
                                    </a>
                                </div>
                                <div class="part2">
                                    <a href="" title="推荐" class="digg digg-a"><span class="hand-icon icon-recommend"></span><b>7</b></a>
                                    <a href="" title="评论" class="digg-a"><span class="hand-icon icon-discuss"></span><b>8</b></a>
                                    <a href="" title="私藏"  class="digg-a"><span class="hand-icon icon-collect"></span><b>私藏</b></a>
                                    <a href="" title="名字"  class="digg-a"><span><img src="image/13.png" alt=""></span><b>纸飞机</b></a>
                                    <span><a href="" class="time-into digg-a"> <b class="time">1小时12分前</b><i>入热榜</i></a></span>
                                    <span class="share-site-to">
                                        <i>分享到</i>
                                        <span class="share-icon">
                                                <a href="#" class="icon-sina" title="分享到微博"></a>
                                                <a href="#" class="icon-douban" title="分享到豆瓣"></a>
                                                <a href="#" class="icon-qqzone" title="分享到QQ空间"></a>
                                                <a href="#" class="icon-tenxun" title="分享到腾讯"></a>
                                                <a href="#" class="icon-renren" title="分享到人人"></a>
                                        </span>
                                    </span>
                                </div>
                            </div>
                    </div>

                        <div class="item">
                        <div  class="news-pic">
                            <img src="image/1.jpg" alt="" class="news-pic">
                        </div>
                        <div class="news-content">
                                <div class="part1">
                                    <a href="#" class="show-content">1990年-2020年 各城市地铁生长图（by猫叔Mack ）
                                    </a>
                                </div>
                                <div class="part2">
                                    <a href="" title="推荐" class="digg digg-a"><span class="hand-icon icon-recommend"></span><b>7</b></a>
                                    <a href="" title="评论" class="digg-a"><span class="hand-icon icon-discuss"></span><b>8</b></a>
                                    <a href="" title="私藏"  class="digg-a"><span class="hand-icon icon-collect"></span><b>私藏</b></a>
                                    <a href="" title="名字"  class="digg-a"><span><img src="image/13.png" alt=""></span><b>纸飞机</b></a>
                                    <span><a href="" class="time-into digg-a"> <b class="time">1小时12分前</b><i>入热榜</i></a></span>
                                    <span class="share-site-to">
                                        <i>分享到</i>
                                        <span class="share-icon">
                                                <a href="#" class="icon-sina" title="分享到微博"></a>
                                                <a href="#" class="icon-douban" title="分享到豆瓣"></a>
                                                <a href="#" class="icon-qqzone" title="分享到QQ空间"></a>
                                                <a href="#" class="icon-tenxun" title="分享到腾讯"></a>
                                                <a href="#" class="icon-renren" title="分享到人人"></a>
                                        </span>
                                    </span>
                                </div>
                            </div>
                    </div>

                        <div class="item">
                        <div  class="news-pic">
                            <img src="image/1.jpg" alt="" class="news-pic">
                        </div>
                        <div class="news-content">
                                <div class="part1">
                                    <a href="#" class="show-content">1990年-2020年 各城市地铁生长图（by猫叔Mack ）
                                    </a>
                                </div>
                                <div class="part2">
                                    <a href="" title="推荐" class="digg digg-a"><span class="hand-icon icon-recommend"></span><b>7</b></a>
                                    <a href="" title="评论" class="digg-a"><span class="hand-icon icon-discuss"></span><b>8</b></a>
                                    <a href="" title="私藏"  class="digg-a"><span class="hand-icon icon-collect"></span><b>私藏</b></a>
                                    <a href="" title="名字"  class="digg-a"><span><img src="image/13.png" alt=""></span><b>纸飞机</b></a>
                                    <span><a href="" class="time-into digg-a"> <b class="time">1小时12分前</b><i>入热榜</i></a></span>
                                    <span class="share-site-to">
                                        <i>分享到</i>
                                        <span class="share-icon">
                                                <a href="#" class="icon-sina" title="分享到微博"></a>
                                                <a href="#" class="icon-douban" title="分享到豆瓣"></a>
                                                <a href="#" class="icon-qqzone" title="分享到QQ空间"></a>
                                                <a href="#" class="icon-tenxun" title="分享到腾讯"></a>
                                                <a href="#" class="icon-renren" title="分享到人人"></a>
                                        </span>
                                    </span>
                                </div>
                            </div>
                    </div>

                        <div class="item">
                        <div  class="news-pic">
                            <img src="image/1.jpg" alt="" class="news-pic">
                        </div>
                        <div class="news-content">
                                <div class="part1">
                                    <a href="#" class="show-content">1990年-2020年 各城市地铁生长图（by猫叔Mack ）
                                    </a>
                                </div>
                                <div class="part2">
                                    <a href="" title="推荐" class="digg digg-a"><span class="hand-icon icon-recommend"></span><b>7</b></a>
                                    <a href="" title="评论" class="digg-a"><span class="hand-icon icon-discuss"></span><b>8</b></a>
                                    <a href="" title="私藏"  class="digg-a"><span class="hand-icon icon-collect"></span><b>私藏</b></a>
                                    <a href="" title="名字"  class="digg-a"><span><img src="image/13.png" alt=""></span><b>纸飞机</b></a>
                                    <span><a href="" class="time-into digg-a"> <b class="time">1小时12分前</b><i>入热榜</i></a></span>
                                    <span class="share-site-to">
                                        <i>分享到</i>
                                        <span class="share-icon">
                                                <a href="#" class="icon-sina" title="分享到微博"></a>
                                                <a href="#" class="icon-douban" title="分享到豆瓣"></a>
                                                <a href="#" class="icon-qqzone" title="分享到QQ空间"></a>
                                                <a href="#" class="icon-tenxun" title="分享到腾讯"></a>
                                                <a href="#" class="icon-renren" title="分享到人人"></a>
                                        </span>
                                    </span>
                                </div>
                            </div>
                    </div>

                        <div class="item">
                        <div  class="news-pic">
                            <img src="image/1.jpg" alt="" class="news-pic">
                        </div>
                        <div class="news-content">
                                <div class="part1">
                                    <a href="#" class="show-content">1990年-2020年 各城市地铁生长图（by猫叔Mack ）
                                    </a>
                                </div>
                                <div class="part2">
                                    <a href="" title="推荐" class="digg digg-a"><span class="hand-icon icon-recommend"></span><b>7</b></a>
                                    <a href="" title="评论" class="digg-a"><span class="hand-icon icon-discuss"></span><b>8</b></a>
                                    <a href="" title="私藏"  class="digg-a"><span class="hand-icon icon-collect"></span><b>私藏</b></a>
                                    <a href="" title="名字"  class="digg-a"><span><img src="image/13.png" alt=""></span><b>纸飞机</b></a>
                                    <span><a href="" class="time-into digg-a"> <b class="time">1小时12分前</b><i>入热榜</i></a></span>
                                    <span class="share-site-to">
                                        <i>分享到</i>
                                        <span class="share-icon">
                                                <a href="#" class="icon-sina" title="分享到微博"></a>
                                                <a href="#" class="icon-douban" title="分享到豆瓣"></a>
                                                <a href="#" class="icon-qqzone" title="分享到QQ空间"></a>
                                                <a href="#" class="icon-tenxun" title="分享到腾讯"></a>
                                                <a href="#" class="icon-renren" title="分享到人人"></a>
                                        </span>
                                    </span>
                                </div>
                            </div>
                    </div>

                        <div class="item">
                        <div  class="news-pic">
                            <img src="image/1.jpg" alt="" class="news-pic">
                        </div>
                        <div class="news-content">
                                <div class="part1">
                                    <a href="#" class="show-content">1990年-2020年 各城市地铁生长图（by猫叔Mack ）
                                    </a>
                                </div>
                                <div class="part2">
                                    <a href="" title="推荐" class="digg digg-a"><span class="hand-icon icon-recommend"></span><b>7</b></a>
                                    <a href="" title="评论" class="digg-a"><span class="hand-icon icon-discuss"></span><b>8</b></a>
                                    <a href="" title="私藏"  class="digg-a"><span class="hand-icon icon-collect"></span><b>私藏</b></a>
                                    <a href="" title="名字"  class="digg-a"><span><img src="image/13.png" alt=""></span><b>纸飞机</b></a>
                                    <span><a href="" class="time-into digg-a"> <b class="time">1小时12分前</b><i>入热榜</i></a></span>
                                    <span class="share-site-to">
                                        <i>分享到</i>
                                        <span class="share-icon">
                                                <a href="#" class="icon-sina" title="分享到微博"></a>
                                                <a href="#" class="icon-douban" title="分享到豆瓣"></a>
                                                <a href="#" class="icon-qqzone" title="分享到QQ空间"></a>
                                                <a href="#" class="icon-tenxun" title="分享到腾讯"></a>
                                                <a href="#" class="icon-renren" title="分享到人人"></a>
                                        </span>
                                    </span>
                                </div>
                            </div>
                    </div>

                        <div class="item">
                        <div  class="news-pic">
                            <img src="image/1.jpg" alt="" class="news-pic">
                        </div>
                        <div class="news-content">
                                <div class="part1">
                                    <a href="#" class="show-content">1990年-2020年 各城市地铁生长图（by猫叔Mack ）
                                    </a>
                                </div>
                                <div class="part2">
                                    <a href="" title="推荐" class="digg digg-a"><span class="hand-icon icon-recommend"></span><b>7</b></a>
                                    <a href="" title="评论" class="digg-a"><span class="hand-icon icon-discuss"></span><b>8</b></a>
                                    <a href="" title="私藏"  class="digg-a"><span class="hand-icon icon-collect"></span><b>私藏</b></a>
                                    <a href="" title="名字"  class="digg-a"><span><img src="image/13.png" alt=""></span><b>纸飞机</b></a>
                                    <span><a href="" class="time-into digg-a"> <b class="time">1小时12分前</b><i>入热榜</i></a></span>
                                    <span class="share-site-to">
                                        <i>分享到</i>
                                        <span class="share-icon">
                                                <a href="#" class="icon-sina" title="分享到微博"></a>
                                                <a href="#" class="icon-douban" title="分享到豆瓣"></a>
                                                <a href="#" class="icon-qqzone" title="分享到QQ空间"></a>
                                                <a href="#" class="icon-tenxun" title="分享到腾讯"></a>
                                                <a href="#" class="icon-renren" title="分享到人人"></a>
                                        </span>
                                    </span>
                                </div>
                            </div>
                    </div>

                        <div class="item">
                        <div  class="news-pic">
                            <img src="image/1.jpg" alt="" class="news-pic">
                        </div>
                        <div class="news-content">
                                <div class="part1">
                                    <a href="#" class="show-content">1990年-2020年 各城市地铁生长图（by猫叔Mack ）
                                    </a>
                                </div>
                                <div class="part2">
                                    <a href="" title="推荐" class="digg digg-a"><span class="hand-icon icon-recommend"></span><b>7</b></a>
                                    <a href="" title="评论" class="digg-a"><span class="hand-icon icon-discuss"></span><b>8</b></a>
                                    <a href="" title="私藏"  class="digg-a"><span class="hand-icon icon-collect"></span><b>私藏</b></a>
                                    <a href="" title="名字"  class="digg-a"><span><img src="image/13.png" alt=""></span><b>纸飞机</b></a>
                                    <span><a href="" class="time-into digg-a"> <b class="time">1小时12分前</b><i>入热榜</i></a></span>
                                    <span class="share-site-to">
                                        <i>分享到</i>
                                        <span class="share-icon">
                                                <a href="#" class="icon-sina" title="分享到微博"></a>
                                                <a href="#" class="icon-douban" title="分享到豆瓣"></a>
                                                <a href="#" class="icon-qqzone" title="分享到QQ空间"></a>
                                                <a href="#" class="icon-tenxun" title="分享到腾讯"></a>
                                                <a href="#" class="icon-renren" title="分享到人人"></a>
                                        </span>
                                    </span>
                                </div>
                            </div>
                    </div>
                        <div class="page-area">
                            <ul>
                                <li><span class="current_page">1</span></li>
                                <li><a href="">2</a></li>
                                <li><a href="">3</a></li>
                                <li><a href="">4</a></li>
                                <li><a href="">5</a></li>
                                <li><a href="">6</a></li>
                                <li><a href="">7</a></li>
                                <li><a href="">8</a></li>
                                <li><a href="">9</a></li>
                                <li><a href="">10</a></li>
                                <li><a href="" class="page-next">下一页</a></li>
                            </ul>



                        </div>

                </div>

            </div>

            <div class="content-R">
                <div style="margin-top: 10px;padding-bottom: 10px">
                    <a href="" style="font-size:14px;font-weight:bold;color:#369;cursor:pointer;padding-left:30px;background:url(image/view.png) no-repeat left center;height:20px;display:inline-block;">如何避免自己被封号</a>
                </div>
                <a href="#"><img src="image/homepage_download.png" alt=""></a>
                <div class="top-band">
                    <span>24小时全部</span>
                    <span style="color: red">TOP 10</span>
                </div>
                <div ><a href="" class="hottest-list">最热榜</a></div>
                <div class="top-content-news">
                    <div class="top-item">
                        <div class="top-points">
                            <a href="#" class="points-a">250</a>
                        </div>
                        <a href="#" class="points-b">美国发现飞碟</a>
                    </div>


                </div>

                <div class="top-content-news">
                    <div class="top-item">
                        <div class="top-points">
                            <a href="#" class="points-a">220</a>
                        </div>
                        <a href="#" class="points-b">「公司里有个胸很大的女同事，今天我抱着试试看的心态（基本不报任何希望）对她说“能让我把手指放进去夹一下吗？”，她说“你是不是工作太累了？可以呀」。
                            然后就带着我来到厕所，不仅让我夹了手指，还抱紧我让我把脸埋在她胸里，并一边摸我的头。太惊喜了。下午能全力工作了……」</a>
                    </div>


                </div>

                <div class="top-content-news">
                    <div class="top-item">
                        <div class="top-points">
                            <a href="#" class="points-a">150</a>
                        </div>
                        <a href="#" class="points-b">【上月去了孟买 给大家说说真实的印度(图) 】在自从看了阿米尔汗的真相访谈和摔跤吧爸爸之后，感觉印度的文化老有意思了，
                            于是一连串的看了很多印度的电影和文字，昨天在天涯上看到个关于印度的老帖子发于2013年2月，个人觉得写的相当好整理了一下发上来，注意帖子老长老长老长了～ ​​​​</a>
                    </div>


                </div>

                <div class="top-content-news">
                    <div class="top-item">
                        <div class="top-points">
                            <a href="#" class="points-a">110</a>
                        </div>
                        <a href="#" class="points-b">东莞高速交警表示，“潮莞高速疯狂别车175秒”事件，涉事皇冠车主已于23日被“以危险方式危害公共安全罪”进行拘留，并以刑事案件立案侦查。</a>
                    </div>


                </div>

                <div class="top-content-news">
                    <div class="top-item">
                        <div class="top-points">
                            <a href="#" class="points-a">90</a>
                        </div>
                        <a href="#" class="points-b">放学后在外面闲逛，然后被妈妈抓回家的你～～～ ​​​​（@江上渡）</a>
                    </div>


                </div>

                <div class="top-content-news">
                    <div class="top-item">
                        <div class="top-points">
                            <a href="#" class="points-a">50</a>
                        </div>
                        <a href="#" class="points-b">韭菜这种植物，不割，它们会膨胀成焦虑的中产阶级</a>
                    </div>


                </div>


            </div>
        </div>

         <div class="footer-box">
            <div class="foot-nav">
                <a href="#" target="_blank">关于我们</a>
                <span>|</span>
                <a href="#" target="_blank">联系我们</a>
                <span>|</span>
                <a href="#" target="_blank">服务条款</a>
                <span>|</span>
                <a href="#" target="_blank">隐私政策</a>
                <span>|</span>
                <a href="#" target="_blank">抽屉新热榜工具</a>
                <span>|</span>
                <a href="#" target="_blank">下载客户端</a>
                <span>|</span>
                <a href="#" target="_blank">意见与反馈</a>
                <span>|</span>
                <a href="#" target="_blank">友情链接</a>
                <span>|</span>
                <a href="#" target="_blank">公告</a>
                <a href="#" ><img src="image/ct_rss.gif" alt="" ></a>
            </div>
            <div class="foot-nav2">
                <a href="#"><img src="image/gozap-logo-50_15.gif" alt="" ></a>
                <span>旗下站点</span>
                <span>©2017
                    chouti.com</span>
                <a href="#" class="foot_b">京ICP备09053974号-3 京公网安备 110102004562</a>
                <div class="foot-bottom">
                    <span class="foot_d">违法和不良信息举报：</span>
                    <span class="foot_a">电话：010-58302039  </span>
                    <span class="foot_a" style="margin-left: 15px;">邮箱：<a style="color: #369;margin-right: 10px;" href="mailto:jubao@chouti.com">jubao@chouti.com</a> </span>
                </div>
                <div class="foot-bottom">版权所有：北京格致璞科技有限公司</div>
        </div>


    </div>

    </div>
 <a href="#head" class="top" style="left: 1512px;display: block"></a>
</body>
</html>