<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/jquery-3.2.1.js"></script>
    <link rel="stylesheet" href="/static/css/index.css">
{#    <link rel="stylesheet" media="screen" href="/static/css/backgroundstyle.css">#}
    {% include "include/css.html" %}
</head>
<body>
<div class="head-box">
    <div class="head-content">
        <div class="title">技术分享博客</div>
        <div class="action-menu">
            {% if type_id %}
                <a href="/" class="tb">全部</a>
            {% else %}
                <a href="/" class="tb active">全部</a>
            {% endif %}

            {% for row in type_list %}
                {% if type_id == row.0 %}
                    <a href="/all/{{ row.0 }}" class="tb active">{{ row.1 }}</a>
                {% else %}
                    <a href="/all/{{ row.0 }}" class="tb">{{ row.1 }}</a>
                {% endif %}
            {% endfor %}

        </div>

        <div class="action-nav">
            {% if user %}
                <a href="/manage/index.html/">{{ user }}</a>
                <a href="/logout/">注销</a>
            {% else %}
                <a href="/login/">登录</a>
                <a href="/register/">注册</a>
            {% endif %}
            <a href="/">首页</a>
            <a href="/{{ blog_url }}">我的博客</a>

        </div>
    </div>

</div>

<div class="body">
    <div class="count_box">

        <div class="count_list">
            {% for i in article %}
                <div class="count">
                    <div class="count_title">
                        <a href="/{{ i.blog.user.username }}/{{ i.nid }}">{{ i.title }}</a>
                    </div>
                    <div class="count_a">
                        <p>
                            <a href="#">
                                <img src="/{{ i.blog.user.avatar }}">
                            </a>
                            {{ i.summary }}</p>
                    </div>
                    <div class="count_b">
                        <a href="/{{ i.blog.site }}/">{{ i.blog.user.username }}</a>
                        <span>发布于{{ i.create_time|date:"Y-m-d" }}</span>
                        <a href="/{{ i.blog.user.username }}/{{ i.nid }}#comment"><span
                                class="fa fa-comment-o"></span><b>{{ i.comment_count }}</b></a>
                        <a href="/{{ i.blog.user.username }}/{{ i.nid }}#thunmbs"><span
                                class="fa fa-thumbs-o-up"></span><b>{{ i.up_count }}</b></a>
                        <a><span class="fa fa-book"></span><b>{{ i.read_count }}</b></a>
                    </div>
                </div>
            {% endfor %}
            <div class="page">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        {{ pager|safe }}
                    </ul>
                </nav>
            </div>

        </div>
        <div class="right_box">
            <div class="right_a">
                <div class="panel panel-default">
                    <div class="panel-heading">吐血推荐</div>
                    <div class="panel-body">
                        {% for row in read %}
                            <a href="/{{ row.blog.user.username }}/{{ row.nid }}">{{ row.title }}</a>
                        {% endfor %}
                    </div>
                </div>

            </div>

            <div class="right_b">
                <div class="panel panel-default">
                    <div class="panel-heading">评论最多</div>
                    <div class="panel-body">
                        {% for row in comment %}
                            <a href="/{{ row.blog.user.username }}/{{ row.nid }}">{{ row.title }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<script src="/static/particles.min.js"></script>
<script src="/static/js/app.js"></script>
<script src="/static/js/lib/stats.js"></script>
<script>
    var count_particles, stats, update;
    stats = new Stats;
    stats.setMode(0);
    stats.domElement.style.position = 'absolute';
    stats.domElement.style.left = '0px';
    stats.domElement.style.top = '0px';
    document.body.appendChild(stats.domElement);
    count_particles = document.querySelector('.js-count-particles');
    update = function () {
        stats.begin();
        stats.end();
        if (window.pJSDom[0].pJS.particles && window.pJSDom[0].pJS.particles.array) {
            count_particles.innerText = window.pJSDom[0].pJS.particles.array.length;
        }
        requestAnimationFrame(update);
    };
    requestAnimationFrame(update);
</script>
</body>
</html>
