<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>

    <link href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="/static/css/nifty.min.css" rel="stylesheet">


</head>

<body>
	<div id="container" class="cls-container">
		
		<div class="cls-content">
		    <h1 class="error-code text-mint">404</h1>
		    <p class="h3 text-uppercase">页面丢失!</p>
		    <div class="pad-btm">
		       抱歉目标页面不存在！！
		    </div>
		    <hr class="new-section-sm bord-no">
		    <div class="pad-top"><a class="btn-link" href="/">回首页</a></div>
		</div>
		
		
	</div>


		</body>
</html>

