<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    <link href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="/static/css/nifty.min.css" rel="stylesheet">

    <link href="/static/css/magic-check.min.css" rel="stylesheet">

</head>


<body>
<div id="container" class="cls-container">

    <div id="bg-overlay" style="background-image: url(/static/img/7.jpg)" class="bg-img"></div>

    <div class="cls-content">
        <div class="cls-content-lg panel">
            <div class="panel-body">
                <div class="mar-ver pad-btm">
                    <h1 class="h3">注册新用户</h1>
                </div>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ obj.username }}
                            </div>
                            <div class="form-group">
                                {{ obj.email }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ obj.password }}
                            </div>
                            <div class="form-group">
                                {{ obj.pwd_again }}
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-lg btn-block" type="submit">注册</button>
                    {% if obj.username.errors.0 %}
                        <span>{{ obj.username.errors.0 }}</span>
                    {% elif obj.email.errors.0 %}
                        <span>{{ obj.email.errors.0 }}</span>
                    {% elif obj.password.errors.0 %}
                        <span>{{ obj.password.errors.0 }}</span>
                    {% else %}
                        <span>{{ obj.pwd_again.errors.0 }}</span>
                    {% endif %}
                </form>
            </div>
            <div class="pad-all">
                已经有帐号 ? <a href="/login/" class="btn-link mar-rgt text-semibold">去登陆</a>
            </div>
        </div>
    </div>
</div>


</body>
</html>
